@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&family=Secular+One&display=swap');

:root {
    color: #FFF;
    --header: 'Secular One';
    --header-small: 'Lora';
    --text: 'Roboto';
    --secondary-color: #FFD029;
    --error-color: #a20707;
    --weight-reg: 400;
    --weight-thin: 300;
}

body {
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
}

header {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 5rem;
}

h2 {
    font-family: var(--header);
    font-weight: var(--weight-reg);
}

h4 {
    font-family: var(--header-small);
    color: var(--secondary-color);
    font-weight: var(--weight-reg);
}

#search-input {
    align-self: center;
    margin-bottom: 0.5rem;
}

#search-btn {
    align-self: center;
    margin-bottom: 7rem;
}

.show-result {
    align-self: center;
    margin-bottom: 0.5rem;
    font-family: var(--text);
    font-weight: var(--weight-reg);
    text-decoration: none;
}

.planets-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

article div {
    border-radius: 50%;
}

.solen {
    width: 20rem;
    height: 20rem;
    background-color: #FFD029;
    box-shadow: 0px -2px 27px 8px rgba(255,208,41,0.75);
}

.merkurius {
    width: 1rem;
    height: 1rem;
    background-color: #888888;
    box-shadow: -14px 14px 18px -20px rgba(25,25,25,0.9) inset;
}

.venus {
    width: 2rem;
    height: 2rem;
    background-color: #E7CDCD;
    box-shadow: -14px 14px 18px -13px rgba(25,25,25,0.9) inset;
}

.jorden {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #428ED5;
    box-shadow: -14px 14px 18px -13px rgba(25,25,25,0.9) inset;
}

.mars {
    width: 1rem;
    height: 1rem;
    background-color: #EF5F5F;
    box-shadow: -14px 14px 18px -20px rgba(25,25,25,0.9) inset;
}

.jupiter {
    width: 12rem;
    height: 12rem;
    background-color: #E29468;
    box-shadow: -22px 15px 18px 11px rgba(25,25,25,0.4) inset;
}

.saturnus {
    width: 9rem;
    height: 9rem;
    background-color: #C7AA72;
    box-shadow: -22px 15px 18px 11px rgba(25,25,25,0.4) inset;
}

.uranus {
    width: 4rem;
    height: 4rem;
    background-color: #C9D4F1;
    box-shadow: -14px 15px 18px -5px rgba(25,25,25,0.7) inset;
}

.neptunus {
    width: 4rem;
    height: 4rem;
    background-color: #7A91A7;
    box-shadow: -14px 15px 18px -5px rgba(25,25,25,0.7) inset;
}

.error-msg {
    color: var(--error-color);
}

.planet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planet-container a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--text);
}

.planet--description {
    max-width: 30rem;
    font-family: var(--text);
    line-height: 1.7;
    margin-bottom: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15rem;
    row-gap: 2rem;
    max-width: 30rem;
}

.wrapper div {
    display: flex;
    flex-direction: column;
}

.wrapper h6 {
    font-family: var(--header-small);
    font-size: 0.8rem;
    margin: 0;
}

.planet--circumference,
.planet--distance,
.planet--max-temp,
.planet--min-temp,
.planet--moons {
    font-family: var(--text);
}

.moons-container {
    grid-column: span 2;
}

.pagination-container {
    margin-top: 3rem;
}

.pagination--previous {
    margin-right: 18rem;
}